body {
 font-family: Arial;
 margin: 30px;
}
#searchBox {
 width: 300px;
 padding: 10px;
 margin-bottom: 20px;
}
#productContainer {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 20px;
}
.product {
 border: 1px solid #ccc;
 padding: 15px;
 border-radius: 10px;
}
.product img {
 width: 100px;
 height: 120px;
 object-fit: contain;
}
button {
 padding: 8px 15px;
 margin: 5px;
 cursor: pointer;
}